!!! 5

%html
	%head
		%link{"rel" => "stylesheet", "href" => "css/style.css"}
		%title Tumblr Theme
	%body
		%header
			%h1 Blog Title
			%br
			%h2 A Clean and Minimal Tumblr Blog
		%nav
			%ul
				%li 
					%a One
				%li 
					%a Two
				%li 
					%a Three			
		.container
			%ul		
				%li.item
					%img{"src" => "images/a.jpeg"}
				%li.item
					%img{"src" => "images/b.jpeg"}
				%li.item
					%img{"src" => "images/c.jpg"}
				%li.item
					%img{"src" => "images/d.jpg"}
				%li.item
					%img{"src" => "images/e.jpeg"}
				%li.item
					%img{"src" => "images/b.jpeg"}
				%li.item
					%img{"src" => "images/c.jpg"}
				%li.item
					%img{"src" => "images/a.jpeg"}
				%li.item
					%img{"src" => "images/d.jpg"}


		/ %script{'src'=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		/ %script{'src'=>"scripts/jquery.masonry.min.js"}
		/ %script{'src'=>"scripts/function.js"}

